/*
	Prologue by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 14pt;
	}
	select
	{
		font-size: 10pt;
	}
	textarea
	{
		font-size: 17pt;
	}
	input
	{
		font-size: 12pt;
	}
	
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		width: 300px;
	}
	
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		margin-left: 300px;
	}
	
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-left: 300px;
	}